In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_champion = pd.read_csv("data/df_champion_clean.csv")
df_champion.head()
df_champion.tail()

    Year            Name Nationality      Team  Points
66  2016    Nico Rosberg         GER  Mercedes   385.0
67  2017  Lewis Hamilton         GBR  Mercedes   363.0
68  2018  Lewis Hamilton         GBR  Mercedes   408.0
69  2019  Lewis Hamilton         GBR  Mercedes   413.0
70  2020  Lewis Hamilton         GBR  Mercedes   347.0

In [3]:
F1_driver = pd.read_csv("data/F1Drivers_Dataset.csv")
F1_driver.head()

,Driver,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
0,Carlo Abate,Italy,"[1962, 1963]",0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1960,0.0,0.000000,0.0,0.0,0.0,0.000000,2,False
1,George Abecassis,United Kingdom,"[1951, 1952]",0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1950,0.0,1.000000,0.0,0.0,0.0,0.000000,2,False
2,Kenny Acheson,United Kingdom,"[1983, 1985]",0.0,10.0,3.0,0.0,0.0,0.0,0.0,...,NaN,1980,0.0,0.300000,0.0,0.0,0.0,0.000000,2,False
3,Andrea de Adamich,Italy,"[1968, 1970, 1971, 1972, 1973]",0.0,36.0,30.0,0.0,0.0,0.0,0.0,...,NaN,1970,0.0,0.833333,0.0,0.0,0.0,0.166667,5,False
4,Philippe Adams,Belgium,[1994],0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,NaN,1990,0.0,1.000000,0.0,0.0,0.0,0.000000,1,False

In [4]:
select_champion_F1 = F1_driver[F1_driver["Champion"]]
selected_row = ["Driver", "Championship Years"]
select_champion_F1[selected_row]

                 Driver                          Championship Years
17      Fernando Alonso                                [2005, 2006]
25       Mario Andretti                                      [1978]
35       Alberto Ascari                                [1952, 1953]
107        Jack Brabham                          [1959, 1960, 1966]
135       Jenson Button                                      [2009]
169           Jim Clark                                [1963, 1965]
238  Juan Manuel Fangio              [1951, 1954, 1955, 1956, 1957]
239         Nino Farina                                      [1950]
250  Emerson Fittipaldi                                [1972, 1974]
334       Mika HÃ¤kkinen                                [1998, 1999]
338      Lewis Hamilton  [2008, 2014, 2015, 2017, 2018, 2019, 2020]
351       Mike Hawthorn                                      [1958]
363          Damon Hill                                      [1996]
364         Graham Hill                                [1962, 1968]
365           Phil Hill                                      [1961]
376         Denny Hulme                                      [1967]
377          James Hunt                                      [1976]
397          Alan Jones                                      [1980]
442          Niki Lauda                          [1975, 1977, 1984]
489       Nigel Mansell                                      [1992]
612       Nelson Piquet                          [1981, 1983, 1987]
628         Alain Prost                    [1985, 1986, 1989, 1993]
635      Kimi RÃ¤ikkÃ¶nen                                      [2007]
657        Jochen Rindt                                      [1970]
669        Keke Rosberg                                      [1982]
670        Nico Rosberg                                      [2016]
698      Jody Scheckter                                      [1979]
710  Michael Schumacher  [1994, 1995, 2000, 2001, 2002, 2003, 2004]
720        Ayrton Senna                          [1988, 1990, 1991]
748      Jackie Stewart                          [1969, 1971, 1973]
759        John Surtees                                      [1964]
811      Max Verstappen                                [2021, 2022]
812    Sebastian Vettel                    [2010, 2011, 2012, 2013]
814  Jacques Villeneuve                                      [1997]

In [5]:
select_champion_F1['Championship Years'] = select_champion_F1['Championship Years'].apply(lambda x: re.sub(r"[\[\]]", "", x))
select_champion_F1['Championship Years'] = select_champion_F1['Championship Years'].apply(lambda x: x.split(","))
#select_champion_F1['Championship Years'].apply(lambda x: x.replace("[" or "]", ""))

/var/folders/2x/p9gz6s0s69x571bjnpwzjnhh0000gn/T/ipykernel_43381/3668408188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_champion_F1['Championship Years'] = select_champion_F1['Championship Years'].apply(lambda x: re.sub(r"[\[\]]", "", x))
/var/folders/2x/p9gz6s0s69x571bjnpwzjnhh0000gn/T/ipykernel_43381/3668408188.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  select_champion_F1['Championship Years'] = select_champion_F1['Championship Years'].apply(lambda x: x.split(","))

In [6]:
select_champion_F1 = select_champion_F1.explode("Championship Years")

In [7]:
select_champion_F1['Championship Years'] = select_champion_F1['Championship Years'].apply(lambda x: int(x))

In [13]:
merged_dataset_F1 = pd.merge(df_champion, select_champion_F1, right_on="Championship Years", left_on="Year")

In [14]:
merged_dataset_F1.columns.tolist()

['Year',
 'Name',
 'Nationality_x',
 'Team',
 'Points_x',
 'Driver',
 'Nationality_y',
 'Seasons',
 'Championships',
 'Race_Entries',
 'Race_Starts',
 'Pole_Positions',
 'Race_Wins',
 'Podiums',
 'Fastest_Laps',
 'Points_y',
 'Active',
 'Championship Years',
 'Decade',
 'Pole_Rate',
 'Start_Rate',
 'Win_Rate',
 'Podium_Rate',
 'FastLap_Rate',
 'Points_Per_Entry',
 'Years_Active',
 'Champion']

In [19]:
merged_dataset_F1 = merged_dataset_F1.drop(columns=['Championship Years', 'Champion', 'Driver'])

In [20]:
merged_dataset_F1.head()

,Year,Name,Nationality_x,Team,Points_x,Nationality_y,Seasons,Championships,Race_Entries,Race_Starts,...,Points_y,Active,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active
0,1950,Nino Farina,ITA,Alfa Romeo,30.0,Italy,"[1950, 1951, 1952, 1953, 1954, 1955]",1.0,34.0,33.0,...,115.33,False,1950,0.147059,0.970588,0.147059,0.588235,0.147059,3.392059,6
1,1951,Juan Manuel Fangio,ARG,Alfa Romeo,31.0,Argentina,"[1950, 1951, 1953, 1954, 1955, 1956, 1957, 1958]",5.0,52.0,51.0,...,245.00,False,1950,0.557692,0.980769,0.461538,0.673077,0.442308,4.711538,8
2,1952,Alberto Ascari,ITA,Ferrari,36.0,Italy,"[1950, 1951, 1952, 1953, 1954, 1955]",2.0,33.0,32.0,...,107.64,False,1950,0.424242,0.969697,0.393939,0.515152,0.363636,3.261818,6
3,1953,Alberto Ascari,ITA,Ferrari,34.5,Italy,"[1950, 1951, 1952, 1953, 1954, 1955]",2.0,33.0,32.0,...,107.64,False,1950,0.424242,0.969697,0.393939,0.515152,0.363636,3.261818,6
4,1954,Juan Manuel Fangio,ARG,Mercedes-Benz,42.0,Argentina,"[1950, 1951, 1953, 1954, 1955, 1956, 1957, 1958]",5.0,52.0,51.0,...,245.00,False,1950,0.557692,0.980769,0.461538,0.673077,0.442308,4.711538,8

In [21]:
merged_dataset_F1.to_csv("merged_dataset_F1.csv")