In [1]:
import pandas as pd
import numpy as np

In [6]:
pd.read_csv("data/df_champion_clean.csv")

    Year                Name Nationality           Team  Points
0   1950         Nino Farina         ITA     Alfa Romeo    30.0
1   1951  Juan Manuel Fangio         ARG     Alfa Romeo    31.0
2   1952      Alberto Ascari         ITA        Ferrari    36.0
3   1953      Alberto Ascari         ITA        Ferrari    34.5
4   1954  Juan Manuel Fangio         ARG  Mercedes-Benz    42.0
..   ...                 ...         ...            ...     ...
66  2016        Nico Rosberg         GER       Mercedes   385.0
67  2017      Lewis Hamilton         GBR       Mercedes   363.0
68  2018      Lewis Hamilton         GBR       Mercedes   408.0
69  2019      Lewis Hamilton         GBR       Mercedes   413.0
70  2020      Lewis Hamilton         GBR       Mercedes   347.0

[71 rows x 5 columns]